/*Custom imports*/
/*Grey*/
/*Green*/
/*Red*/
/*Button colors*/
/*Custom sizes*/
/*Header*/
/*Footer*/
/*
 * Nb of columns - 100 will be divided by that nb
 * to make proper column names. (example for 10: col_10, col_20, ...)
 * Watch out !
*/
/*Fonts*/
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700");
/*Block imports*/
/*Grid system for eriacss*/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  width: 100%; }

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 100%; }

.col_10 {
  max-width: 10%;
  flex: 0 0 10%; }

.col_offset-10 {
  margin-left: 10%; }

.col_20 {
  max-width: 20%;
  flex: 0 0 20%; }

.col_offset-20 {
  margin-left: 20%; }

.col_30 {
  max-width: 30%;
  flex: 0 0 30%; }

.col_offset-30 {
  margin-left: 30%; }

.col_40 {
  max-width: 40%;
  flex: 0 0 40%; }

.col_offset-40 {
  margin-left: 40%; }

.col_50 {
  max-width: 50%;
  flex: 0 0 50%; }

.col_offset-50 {
  margin-left: 50%; }

.col_60 {
  max-width: 60%;
  flex: 0 0 60%; }

.col_offset-60 {
  margin-left: 60%; }

.col_70 {
  max-width: 70%;
  flex: 0 0 70%; }

.col_offset-70 {
  margin-left: 70%; }

.col_80 {
  max-width: 80%;
  flex: 0 0 80%; }

.col_offset-80 {
  margin-left: 80%; }

.col_90 {
  max-width: 90%;
  flex: 0 0 90%; }

.col_offset-90 {
  margin-left: 90%; }

.col_100 {
  max-width: 100%;
  flex: 0 0 100%; }

.col_offset-100 {
  margin-left: 100%; }

.col_25 {
  max-width: 25%;
  flex: 0 0 25%; }

.col_offset-25 {
  margin-left: 25%; }

.col_50 {
  max-width: 50%;
  flex: 0 0 50%; }

.col_offset-50 {
  margin-left: 50%; }

.col_75 {
  max-width: 75%;
  flex: 0 0 75%; }

.col_offset-75 {
  margin-left: 75%; }

.col_100 {
  max-width: 100%;
  flex: 0 0 100%; }

.col_offset-100 {
  margin-left: 100%; }

.col_33 {
  max-width: 33.3333%;
  flex: 0 0 33.3333%; }

.col_offset-33 {
  margin-left: 33.3333%; }

.col_66 {
  max-width: 66.6666%;
  flex: 0 0 66.6666%; }

.col_offset-66 {
  margin-left: 66.6666%; }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .col_s-10 {
    max-width: 10%;
    flex: 0 0 10%; }
  .col_s-offset-10 {
    margin-left: 10%; }
  .col_s-20 {
    max-width: 20%;
    flex: 0 0 20%; }
  .col_s-offset-20 {
    margin-left: 20%; }
  .col_s-30 {
    max-width: 30%;
    flex: 0 0 30%; }
  .col_s-offset-30 {
    margin-left: 30%; }
  .col_s-40 {
    max-width: 40%;
    flex: 0 0 40%; }
  .col_s-offset-40 {
    margin-left: 40%; }
  .col_s-50 {
    max-width: 50%;
    flex: 0 0 50%; }
  .col_s-offset-50 {
    margin-left: 50%; }
  .col_s-60 {
    max-width: 60%;
    flex: 0 0 60%; }
  .col_s-offset-60 {
    margin-left: 60%; }
  .col_s-70 {
    max-width: 70%;
    flex: 0 0 70%; }
  .col_s-offset-70 {
    margin-left: 70%; }
  .col_s-80 {
    max-width: 80%;
    flex: 0 0 80%; }
  .col_s-offset-80 {
    margin-left: 80%; }
  .col_s-90 {
    max-width: 90%;
    flex: 0 0 90%; }
  .col_s-offset-90 {
    margin-left: 90%; }
  .col_s-100 {
    max-width: 100%;
    flex: 0 0 100%; }
  .col_s-offset-100 {
    margin-left: 100%; }
  .col_s-25 {
    max-width: 25%;
    flex: 0 0 25%; }
  .col_s-offset-25 {
    margin-left: 25%; }
  .col_s-50 {
    max-width: 50%;
    flex: 0 0 50%; }
  .col_s-offset-50 {
    margin-left: 50%; }
  .col_s-75 {
    max-width: 75%;
    flex: 0 0 75%; }
  .col_s-offset-75 {
    margin-left: 75%; }
  .col_s-100 {
    max-width: 100%;
    flex: 0 0 100%; }
  .col_s-offset-100 {
    margin-left: 100%; }
  .col_s-33 {
    max-width: 33.3333%;
    flex: 0 0 33.3333%; }
  .col_s-offset-33 {
    margin-left: 33.3333%; }
  .col_s-66 {
    max-width: 66.6666%;
    flex: 0 0 66.6666%; }
  .col_s-offset-66 {
    margin-left: 66.6666%; } }

/* Super Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .col_xs-10 {
    max-width: 10%;
    flex: 0 0 10%; }
  .col_xs-offset-10 {
    margin-left: 10%; }
  .col_xs-20 {
    max-width: 20%;
    flex: 0 0 20%; }
  .col_xs-offset-20 {
    margin-left: 20%; }
  .col_xs-30 {
    max-width: 30%;
    flex: 0 0 30%; }
  .col_xs-offset-30 {
    margin-left: 30%; }
  .col_xs-40 {
    max-width: 40%;
    flex: 0 0 40%; }
  .col_xs-offset-40 {
    margin-left: 40%; }
  .col_xs-50 {
    max-width: 50%;
    flex: 0 0 50%; }
  .col_xs-offset-50 {
    margin-left: 50%; }
  .col_xs-60 {
    max-width: 60%;
    flex: 0 0 60%; }
  .col_xs-offset-60 {
    margin-left: 60%; }
  .col_xs-70 {
    max-width: 70%;
    flex: 0 0 70%; }
  .col_xs-offset-70 {
    margin-left: 70%; }
  .col_xs-80 {
    max-width: 80%;
    flex: 0 0 80%; }
  .col_xs-offset-80 {
    margin-left: 80%; }
  .col_xs-90 {
    max-width: 90%;
    flex: 0 0 90%; }
  .col_xs-offset-90 {
    margin-left: 90%; }
  .col_xs-100 {
    max-width: 100%;
    flex: 0 0 100%; }
  .col_xs-offset-100 {
    margin-left: 100%; }
  .col_xs-25 {
    max-width: 25%;
    flex: 0 0 25%; }
  .col_xs-offset-25 {
    margin-left: 25%; }
  .col_xs-50 {
    max-width: 50%;
    flex: 0 0 50%; }
  .col_xs-offset-50 {
    margin-left: 50%; }
  .col_xs-75 {
    max-width: 75%;
    flex: 0 0 75%; }
  .col_xs-offset-75 {
    margin-left: 75%; }
  .col_xs-100 {
    max-width: 100%;
    flex: 0 0 100%; }
  .col_xs-offset-100 {
    margin-left: 100%; }
  .col_xs-33 {
    max-width: 33.3333%;
    flex: 0 0 33.3333%; }
  .col_xs-offset-33 {
    margin-left: 33.3333%; }
  .col_xs-66 {
    max-width: 66.6666%;
    flex: 0 0 66.6666%; }
  .col_xs-offset-66 {
    margin-left: 66.6666%; } }

/*Header block*/
.header {
  box-shadow: 0px 2px 6px #cccccc;
  padding: 20px;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  flex: 1 100%; }

.header-fixed {
  box-shadow: 0px 2px 6px #cccccc;
  padding: 20px;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  width: 100%; }

/*Footer style*/
.footer {
  padding: 20px;
  background-color: #666666;
  height: 50px;
  color: white;
  flex: 1 100%; }

/*Utilities SCSS*/
.hoverable {
  transition: all 0.2s; }
  .hoverable:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s; }

.container {
  margin: 10px; }

.text_center {
  text-align: center; }

.text_right {
  text-align: right; }

.text_left {
  text-align: left; }

/*Buttons SCSS*/
.btn {
  padding: 10px;
  margin: 5px;
  font-size: 1em;
  border: 0;
  border-radius: 15px;
  background-color: #9E9E9E;
  color: white;
  cursor: pointer; }
  .btn:hover {
    background-color: #ababab; }
  .btn:active {
    background-color: #999999; }

.btn_small {
  max-width: 80px;
  font-size: 0.8em; }

.btn_large {
  min-width: 150px;
  font-size: 1.2em; }

.btn_full {
  width: 100%; }

.btn_action {
  background-color: #00BCD4;
  color: white; }
  .btn_action:hover {
    background-color: #00d3ee; }
  .btn_action:active {
    background-color: #00b3ca; }

.btn_valid {
  background-color: #4caf50;
  color: white; }
  .btn_valid:hover {
    background-color: #5cb860; }
  .btn_valid:active {
    background-color: #49a84d; }

.btn_invalid {
  background-color: #F44336;
  color: white; }
  .btn_invalid:hover {
    background-color: #f55a4e; }
  .btn_invalid:active {
    background-color: #f33a2c; }

.btn_outlined {
  background: transparent;
  color: #666666;
  border: 1px solid #cccccc; }
  .btn_outlined:hover {
    background-color: transparent; }
  .btn_outlined:active {
    background-color: transparent; }

.btn_outlined_action {
  border: 1px solid #00BCD4;
  color: #00BCD4;
  transition: all 0.3s; }
  .btn_outlined_action:hover {
    transition: all 0.3s;
    background-color: #00BCD4;
    color: white; }

.btn_outlined_valid {
  border: 1px solid #4caf50;
  color: #4caf50;
  transition: all 0.3s; }
  .btn_outlined_valid:hover {
    transition: all 0.3s;
    background-color: #4caf50;
    color: white; }

.btn_outlined_invalid {
  border: 1px solid #F44336;
  color: #F44336;
  transition: all 0.3s; }
  .btn_outlined_invalid:hover {
    transition: all 0.3s;
    background-color: #F44336;
    color: white; }

/*Cards SCSS*/
.card {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

.card__title {
  padding: 5px 0px;
  border-bottom: 1px solid #eeeeee;
  font-size: 1.5em; }

.card__content {
  padding: 10px 10px; }

/*Main SCSS*/
body {
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  font-family: "Roboto";
  color: #212121; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #666666; }

a,
button,
:focus,
a:focus,
button:focus,
a:active,
a:hover {
  outline: 0; }
