/*Grid system for eriacss*/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 100%;
}
@for $i from 1 through $columns-nb {
  $colSize: ((100 / $columns-nb) * $i);
  .col_#{$colSize} {
     max-width: $colSize * 1%;
    flex: 0 0 $colSize * 1%;
  }
  .col_offset-#{$colSize} {
    margin-left: $colSize * 1%;
  }
}
@for $i from 1 through 4 {
  $colSize: ((100 / 4) * $i);
  .col_#{$colSize} {
     max-width: $colSize * 1%;
    flex: 0 0 $colSize * 1%;
  }
  .col_offset-#{$colSize} {
    margin-left: $colSize * 1%;
  }
}
.col_33 {
  max-width: 33.3333%;
  flex: 0 0 33.3333%;
}
.col_offset-33 {
  margin-left: 33.3333%;
}
.col_66 {
  max-width: 66.6666%;
  flex: 0 0 66.6666%;
}
.col_offset-66 {
  margin-left: 66.6666%;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  @for $i from 1 through $columns-nb {
    $colSize: ((100 / $columns-nb) * $i);
    .col_s-#{$colSize} {
      max-width: $colSize * 1%;
      flex: 0 0 $colSize * 1%;
    }
    .col_s-offset-#{$colSize} {
      margin-left: $colSize * 1%;
    }
  }
  @for $i from 1 through 4 {
    $colSize: ((100 / 4) * $i);
    .col_s-#{$colSize} {
      max-width: $colSize * 1%;
      flex: 0 0 $colSize * 1%;
    }
    .col_s-offset-#{$colSize} {
      margin-left: $colSize * 1%;
    }
  }
  .col_s-33 {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
  }
  .col_s-offset-33 {
    margin-left: 33.3333%;
  }
  .col_s-66 {
    max-width: 66.6666%;
    flex: 0 0 66.6666%;
  }
  .col_s-offset-66 {
    margin-left: 66.6666%;
  }
}
/* Super Small Devices, Phones */
@media only screen and (max-width : 576px) {
  @for $i from 1 through $columns-nb {
    $colSize: ((100 / $columns-nb) * $i);
    .col_xs-#{$colSize} {
      max-width: $colSize * 1%;
      flex: 0 0 $colSize * 1%;
    }
    .col_xs-offset-#{$colSize} {
      margin-left: $colSize * 1%;
    }
  }
  @for $i from 1 through 4 {
    $colSize: ((100 / 4) * $i);
    .col_xs-#{$colSize} {
      max-width: $colSize * 1%;
      flex: 0 0 $colSize * 1%;
    }
    .col_xs-offset-#{$colSize} {
      margin-left: $colSize * 1%;
    }
  }
  .col_xs-33 {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
  }
  .col_xs-offset-33 {
    margin-left: 33.3333%;
  }
  .col_xs-66 {
    max-width: 66.6666%;
    flex: 0 0 66.6666%;
  }
  .col_xs-offset-66 {
    margin-left: 66.6666%;
  }
}
