/*Header block*/
.header {
  box-shadow: 0px $shadow-size $shadow-size * 3 $grey-light;
  padding: $padding-large;
  height: $header-size;
  background: rgba(255, 255, 255, $header-opacity);
  flex: 1 100%;
}
.header-fixed {
  box-shadow: 0px $shadow-size $shadow-size * 3 $grey-light;
  padding: $padding-large;
  height: $header-size;
  background: rgba(255, 255, 255, $header-opacity);
  position: fixed;
  width: 100%;
}
.header-fixed__content {
  width: 100%;
  margin-top: $header-size + $padding-large * 2;
}
.header-fixed__container {
  width: 100%;
  margin: 10px;
  margin-top: $header-size + $padding-large * 2;
}
@media only screen and (max-width: 768px) {
  .header, .header-fixed {
    height: $header-size / 2;
  }
}
