/*Section*/
.section {
  margin: 0 $section-margin;
  padding: $section-padding 0;
}
@media only screen and (max-width: 768px) {
  .section {
    margin: 0 $section-margin /2;
    padding: $section-padding /2 0;
  }
}
