/*Utilities SCSS*/
.hoverable {
  transition: all 0.2s;
  &:hover{
    box-shadow: 0 $shadow-size * 3 $shadow-size * 5  rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
  }
}
.container {
  margin: $margin-medium;
}
.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
.text_left {
  text-align: left;
}
@function set-text-color($color) {
  @if (lightness($color) > 80) {
    @return $grey;
  } @else {
    @return white;
  }
}
@function color-lighten($color) {
  @return lighten($color, 5%)
}
@function color-darken($color) {
  @return darken($color, 2%)
}
