/*Grey*/
$grey-darker:   #212121;
$grey-dark:     #424242;
$grey:          #666666;
$grey-light:    #cccccc;
$grey-lighter:  #eeeeee;

/*Green*/
$green:         green;

/*Red*/
$red:           lightcoral;

/*Button colors*/
$btn-color:     #9E9E9E;
$btn-action:    #00BCD4;
$btn-valid:     #4caf50;
$btn-invalid:   #F44336;
