/*Custom sizes*/
$margin-small:          5px;
$margin-medium:         $margin-small * 2;
$margin-large:          $margin-medium * 2;

$padding-small:         $margin-small;
$padding-medium:        $margin-medium;
$padding-large:         $margin-large;

$btn-size-large:        150px;
$btn-size-small:        80px;
$btn-outline-size:      2px;

$radius-size:           15px;
$shadow-size:           2px;

/*Header*/
$header-size:           50px;
$header-opacity:        0.95;

/*Footer*/
$footer-size:           50px;

/*
 * Nb of columns - 100 will be divided by that nb
 * to make proper column names. (example for 10: col_10, col_20, ...)
 * Watch out !
*/
$columns-nb:             10;
